<div class="flex">
    <div class="flex h-screen w-1/4 flex-col shadow-transparent rounded-xl justify-between border-e bg-white">
        <div class="px-4 py-6">

      
          <nav aria-label="Main Nav" class="mt-6  rounded-full  flex flex-col  space-y-1">
            <a routerLink="add-users" class="  shadow-current  flex bg-[#FFFAF9] items-center gap-2 rounded-lg hover:bg-gray-100 px-4 py-2 hover:text-gray-700" >
              <span class="text-sm font-medium"> Post Method </span>
            </a>
            <a routerLink="view-all-users" class="  shadow-current flex bg-[#FFFAF9] items-center gap-2 rounded-lg hover:bg-gray-100 px-4 py-2 hover:text-gray-700" >
              <span class="text-sm font-medium"> View All Users </span>
            </a>
            <a routerLink="template-driven-from" class=" shadow-current  flex bg-[#FFFAF9] items-center gap-2 rounded-lg hover:bg-gray-100 px-4 py-2 hover:text-gray-700" > 
              <span class="text-sm font-medium"> Template driven form<i class="fa-regular absolute mt-1 text-[5px] fa-sparkles fa-beat-fade fa-2xs" style="color: #29fa33;">New</i></span>
            </a>

            <a routerLink="simple-reactive-form" class=" shadow-current  flex bg-[#FFFAF9] items-center gap-2 rounded-lg hover:bg-gray-100 px-4 py-2 hover:text-gray-700" >
              <span class="text-sm font-medium"> Reactive with simple validation <i class="fa-regular absolute mt-1 text-[5px] fa-sparkles fa-beat-fade fa-2xs" style="color: #29fa33;">New</i></span>
            </a>



      
          </nav>
  
        </div>
      
        
      </div>

      <div class="w-3/4 pl-10"><router-outlet></router-outlet></div>
</div>


