<!-- <p>room work</p> -->
<!-- <li>{{room}}</li> -->
<!--
  Heads up! 👋

  This component comes with some `rtl` classes. Please remove them if they are not needed in your project.
-->

<div *ngIf="this.room?.id < 2"   class="overflow-x-auto">
    <table  class="min-w-full divide-y-2 divide-gray-200 bg-white text-sm">

<thead class="ltr:text-center rtl:text-right">
    <tr>
      <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
        Id
      </th>
      <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
        Name
      </th>
      <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
        Capacity
      </th>
      <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
        Location
      </th>
      <th class="px-4 py-2">
        Book
      </th>
    </tr>
</thead>


<tbody class="divide-y divide-gray-200  ">
    <tr>  
        <td class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">{{this.room.id}}</td>
        <td class="whitespace-nowrap px-4 py-2 text-gray-700">{{this.room?.name}}</td>
        <td class="whitespace-nowrap px-4 py-2 text-gray-700">{{this.room?.capacity}}</td>
        <td class="whitespace-nowrap px-4 py-2 text-gray-700">{{this.room?.location}}</td>
        <td class="whitespace-nowrap px-4 py-2">
        <button (click)="selectRoom(room)" class="inline-block rounded bg-indigo-600 px-4 py-2 text-xs font-medium text-white hover:bg-indigo-700">View</button></td>

    </tr>
</tbody>


</table>
</div>


<div >  
    <tbody  *ngIf="this.room?.id >= 2"  class="divide-y divide-gray-200  ">
      <tr >  
          <td class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">{{this.room.id}}</td>
          <td class="whitespace-nowrap px-4 py-2 text-gray-700">{{this.room?.name}}</td>
          <td class="whitespace-nowrap px-4 py-2 text-gray-700">{{this.room?.capacity}}</td>
          <td class="whitespace-nowrap px-4 py-2 text-gray-700">{{this.room?.location}}</td>
          <td class="whitespace-nowrap px-4 py-2">
          <button (click)="selectRoom(this.room)" class="inline-block rounded bg-indigo-600 px-4 py-2 text-xs font-medium text-white hover:bg-indigo-700">View</button></td>
      </tr>
    </tbody>
</div>
