<!--
  Heads up! 👋

  This component comes with some `rtl` classes. Please remove them if they are not needed in your project.
-->

<div class="overflow-x-auto">
    <table class="min-w-full divide-y-2 divide-gray-200 bg-white text-sm">
      <thead class="ltr:text-left rtl:text-right">
        <tr>
          <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
            Name
          </th>
          <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
            Date of Birth
          </th>
          <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
            Role
          </th>
          <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
            Salary
          </th>
          <th class="px-4 py-2"></th>
        </tr>
      </thead>
  
      <tbody class="divide-y divide-gray-200">
        <ng-container #container></ng-container>
      </tbody>
    </table>
  </div>