<p>Select a room</p>
<p *ngIf="selectedRoomInfo != null" >The room you selected is {{selectedRoomInfo?.name }}. It is in {{selectedRoomInfo?.location}}.</p>

<app-room *ngFor="let r of roomList" [room]="r"  
            (ky)="selectedRoomparent($event)"
></app-room>

<div class="grid jusfy-items-center">
    <button 

        (click)="handleClearSelection()" 
        class=" mx-[700px] py-2.5 px-5 mr-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-full border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
        [disabled] ="isDisabled"

    >Clear your selection</button>
</div>